.render {
  height: 550px;
  width: 500px;
  border: solid 2px black;
  margin: 0 auto;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
}

#numero {
  width: 100px;
  border: solid 1px orchid;
  margin: 0 auto;
}
